.num{
    width: 100%;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    &_wrapper{
        width: 80%;
        margin: 0 auto;
        background-color: rgb(33, 54, 55);
        border-radius: 25px;
        padding: 30px 50px;
    }
    &_title h1{
        font-size: 40px;
        font-weight: 600;
    }
    &_count{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        font-size: 20px;
    }
    &_tit{
        margin-top: -80px;
        font-size: 25px;
        font-weight: 600;
        color: #cccccc;
    }
    &_up{
        font-weight: 900;
        font-size: 100px;
    }
    &_countup p{
        font-size: 100px;
        margin-top: -0.1px;
        margin-left: 10px;
        font-weight:bolder;
        color: rgb(24, 125, 226);
    }
    &_countup{
        display: flex;

    }
    &_box img{
        width: 180px;
        height: 150px;
        margin-top: -80px;
    }
}