.reklama {
  width: 100%;
  margin-bottom: 250px;
  color: white;
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &_wrapper {
    width: 90%;
    margin: 0 auto;
    margin-top: -550px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 30px;
      margin-top: -300px; /* Adjust margin for tablets */
    }

    @media (max-width: 768px) {
      width: 95%;
      margin-top: -200px; /* Adjust margin for smaller screens */
    }

    @media (max-width: 480px) {
      gap: 20px; /* Reduce gap for mobile devices */
      margin-top: -100px; /* Adjust margin for mobile */
    }
  }
  .nava{
    text-decoration: none;
    color: white;
  }

  &_bacground img {
    width: 100%;
    height: 650px;
    filter: brightness(50%);
    object-fit: cover;

    @media (max-width: 768px) {
      height: 450px; /* Reduce image height for smaller screens */
    }

    @media (max-width: 480px) {
      height: 300px; /* Further reduce image height for mobile */
    }
  }

  .slider-container {
    width: 37%;
    height: 35%;

    @media (max-width: 768px) {
      width: 60%; /* Adjust slider width for tablets */
    }

    @media (max-width: 480px) {
      width: 80%; /* Adjust slider width for mobile */
    }
  }

  &_right {
    width: 480px;
    height: 400px;

    @media (max-width: 768px) {
      width: 100%; /* Full width on smaller screens */
      height: auto;
    }
  }

  &_right img {
    width: 500px;
    height: 350px;
    border-radius: 27px;
    position: relative;
    top: 30px;
    transition: filter 0.3s ease;
    overflow: hidden;
    border-radius: 28px;

    @media (max-width: 768px) {
      width: 100%; /* Full width on tablets */
      height: auto;
    }

    @media (max-width: 480px) {
      width: 100%; /* Full width on mobile */
      height: auto; /* Adjust height for mobile */
    }
  }

  &_right img:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}

.transparent-button {
  background-color: rgba(6, 114, 247, 0.8);
  color: white;
  border: none;
  padding: 12px 70px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 18px;

  @media (max-width: 768px) {
    padding: 10px 50px; /* Adjust padding for tablets */
    font-size: 16px;
  }

  @media (max-width: 480px) {
    padding: 8px 30px; /* Reduce padding for mobile */
    font-size: 14px;
  }
}

.transparent-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slic img {
  overflow: hidden;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  border: 1px solid;

  @media (max-width: 768px) {
    width: 300px; /* Reduce size for tablets */
    height: 300px;
  }

  @media (max-width: 480px) {
    width: 200px; /* Further reduce size for mobile */
    height: 200px;
  }
}
