.jamoa{
    width: 100%;
    color: white;
    margin-top: 70px;
    &_wrapper{
        width: 90%;
        margin: 0 auto;
    }
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
       font-size: 20px;
    }
    &_title p{
        color: #c1c0c0;
        margin-top: -15px;
        margin-bottom: 50px;
    }
    &_right a{
        text-decoration: none;
        color: #ffffff;
        background-color: #3c88e5;
        padding: 15px 20px;
        border-radius: 10px;
    }
    &_right a:hover{
        cursor: pointer;
        background-color: inherit;
        border: 2px solid rgb(24, 125, 226);
        color: rgb(24, 125, 226);
    }
    &_cards{
        background-color: rgb(52, 63, 62);
        border-radius: 20px;
        width: 300px !important;
        height: 380px;
        text-align: center;
        margin-top: 120px;
        margin-right: 20px;
    }
    &_box{
        display: flex;
        
    }
    h3 img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin-left: 45px;
        margin-top: -130px;
        border: 20px solid rgb(6, 29, 37);
    }
   h2, img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }
    &_abouts{
        display: flex;
    }
}

.btn a{
    background-color:  rgb(52, 63, 62);
    color: #3c88e5;
    border: 1px solid #3c88e5;
}
.btn a:hover{
    background-color: #3c88e5;
    color: white;
}
