body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color :rgb(6, 29, 37);
    height: auto;
    font-family: "Amatic SC", sans-serif;
}

button:hover{
    cursor: pointer;
    background-color: inherit;
    border: 1px solid inherit;
}